[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.5"
boto3 = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-filter = "*"
djangorestframework = "*"
django-storages = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
geocoder = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"
flake8 = "*"
gdal = {path = "./GDAL-3.3.3-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
